<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head'); %>

<body>
    <%- include('partials/navbar'); %>
    <main class="container">
        <h1 class="titulo">Article to Edit: <em style="font-style: italic;">"<%= news.title %>"</em></h1>
    <section class="formulario">
        <form action="/news/update/<%= news.id %>" method="POST">

            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <p><input type="text" class="form-control" name="title" id="" value="<%= news.title %>" required></p>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description </label>
                <p><textarea name="description" class="form-control" id="" required><%= news.description %></textarea></p>
            </div>
            <div class="mb-3">
                <label for="genre_id">Genre</label>
                <select class="form-select" name="genre_id" id="">
                    <% for( let i = 0; i < genres.length; i++ ) { %>
                        <option value="<%= genres[i].id  %> "><%= genres[i].name  %> </option>    
                    <% } %>
                </select>
            </div>
        
            <br>
            <p> <button class="btn btn-dark" type="submit">Update</button>
            
            <a  class="btn btn-dark" href="/news">News list</a></p>
        </form>
    </section>
    </main>
    
<%- include('partials/footer'); %>
</body>
</html>