<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head'); %>

<body>
    <%- include('partials/navbar'); %>
    <h1 class="d-flex justify-content-center mt-3">News</h1>
    <br>
    <div class="container d-flex justify-content-center ">
        <p>
            <a class="btn btn-dark" href="/news/add">Add new</a>
            <a class="btn btn-dark" href="/">Home</a>
        </p>  
    </div>
    <br>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <% for( let i = 0; i < news.length; i++ ) { %>
                <div class="col mb-5 d-flex justify-content-center">
                <% if (news[i].users) { %>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title"><%= news[i].title %></h5>
                          <p class="card-text" style="color: #222222;"><%= news[i].description %></p>
                          <p class="card-text" style="color: #222222;">Escrito por: <%= news[i].users.name %></p>
                          <a href="/news/detail/<%= news[i].id %>">
                            <button class="btn btn-dark">Read More</button>
                         </a>
                        </div>
                      </div>
                <% } %>
            </div>
            <% } %>
        </div>

        
      </div>
    <%- include('partials/footer'); %>
</body>

</html>