<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<body>
	<%- include('partials/navbar'); %>
	
	<!-- Container -->
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col">
				<h2 style="color: #fff;">Hi, <%= user.name %> <%= user.surname %>! </h2>
				<br>
				<div>
					<p>My Notes:</p>
					<% news.forEach(note => { %>
						<% if (user.name == note.users.name) { %>
							<li style="color: #fff;"><a style="color: #fff; text-decoration: none;" href="/news/detail/<%= note.id %>"><%= note.title %></a></li>
						<% } %>
					<% }) %>
					
				</div>
				<br>
				<div class="alert alert-success"><%= user.email %> </div>
			</div>
		</div>
	</div>
	<!-- //Container -->
	
	<%- include('partials/footer'); %>
</body>
</html>